<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Guidance Magento Team <magento@guidance.com>
  - Copyright (c) 2018 Guidance Solutions (http://www.guidance.com)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <tab>advanced</tab>
            <group id="webapi_log" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="550">
                <label>REST API Log</label>
                <field id="lifetime" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Log Entry Lifetime, Days</label>
                    <comment>If empty logs won't be cleaned.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
